<h2>{{title}}</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Enemy Name</th>
        <th scope="col">Category</th>
        <th scope="col">Challenge</th>
        <th scope="col">image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enemy of enemies; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{enemy.name}}</td>
        <td>{{enemy.category}}</td>
        <td>{{enemy.challenge}}</td>
        <td><img class="container-image" [src]="enemy.image" [alt]="enemy.name"></td>
      </tr>
    </tbody>
  </table>